/*Bearbeitet von Daniel Ackermann*/
/*Regeln für die Darstellung eines Schachbrettes*/

/*Keine Abstände zwischen den Feldern*/
table#chessboard {
    border-collapse: collapse;
}

/*Größe eines Feldes*/
table#chessboard td {
    text-align: center;
    height: 21px;
    width: 21px;
}

/*Die nächsten vier Regeln greifen jeweils auf den Rand der Tabelle zu,
ohne die Notation mit einzurahmen (also 1-8, a-h)*/
table#chessboard tr:first-of-type td:not(:first-of-type) {
    border-top: 2px solid;
}

table#chessboard tr:nth-of-type(8) td:not(:first-of-type) {
    border-bottom: 2px solid;
}

table#chessboard tr:not(:last-of-type) td:last-of-type {
    border-right: 2px solid;
}

table#chessboard tr:not(:last-of-type) td:nth-of-type(2) {
    border-left: 2px solid;
}

/*Schriftgröße der Notation*/
table#chessboard td:first-of-type, table#chessboard tr:last-of-type td {
    font-size: xx-small;
}

/*Die nächsten 4 Regeln sorgen für die korrekte Felderfarbe*/
table#chessboard tr:nth-of-type(odd):not(:last-of-type) td:nth-of-type(odd):not(:first-of-type) {
    background-color: darkgray;
}

table#chessboard tr:nth-of-type(even):not(:last-of-type) td:nth-of-type(even) {
    background-color: darkgray;
}

table#chessboard tr:nth-of-type(odd):not(:last-of-type) td:nth-of-type(even):not(:first-of-type) {
    background-color: white;
}

table#chessboard tr:nth-of-type(even):not(:last-of-type) td:nth-of-type(odd):not(:first-of-type) {
    background-color: white;
}
