th, td {
    padding: 20px;
    border: 1px solid black
}

#row1 td:nth-child(2n+2), #row3 td:nth-child(2n+2), #row5 td:nth-child(2n+2), #row7 td:nth-child(2n+2) {
    background-color: black;
    color:white
}

#row2 td:nth-child(2n+1), #row4 td:nth-child(2n+1), #row6 td:nth-child(2n+1), #row8 th:nth-child(2n+1) {
    background-color: black;
    color:white
}