html, body {
    height: 100%; /* Damit der ganze Platz eingenommen wird und der Footer so immer ganz unten angezeigt wird (siehe grid-template-rows in #maincontainer) */
}

body {
    background-color: darkseagreen;
    font-family:  "Gill Sans MT", "Tw Cen MT","Segoe UI", sans-serif;
    margin: 0; /* Damit es keinen Default-Rand gibt und Elemente wie z.B. Footer etwas "schweben" */
    min-height: 100%; /* Musste von height zu min-height geändert werden, nachdem das Hinzufügen der zweiten grid-Reihe es gebrochen hatte */
    display: grid;
    grid-template-areas: "header nav"
                         "header main"
                         "aside main"
                         "footer footer";
    grid-template-columns: 240px auto;
    grid-template-rows: auto auto 1fr auto; /* 1fr = 1 verbleibender Platz. Dient zur Ausfüllung des Raumes und damit der Footer immer ganz unten ist */
}

header {
    grid-area: header;
    background-color: #45355b;
    border-right: 8px solid;
    border-color: #2e1b3b;
}

header a {
    padding-left: 20px;
    padding-right: 20px;
}

header a span {
    color: white;
    letter-spacing: 0.9em;
    font-weight: bold;
    height: 100%;
    display: none;
}

nav {
    grid-area: nav;
    background-color: #45355b;
}

nav a {
    font-size: xx-large;
    text-decoration: none;
    color: white;
    display: inline-block;
    width: 25%; /* 25% bringt das letzte a auf die nächste Zeile obwohl Browser sagt, dass ein a genau ein Viertel Pixel von nav breit ist?! */
    text-align: center;
}

header, nav {
    border-bottom: 8px solid;
    border-color: #2e1b3b;
}

header a:hover, nav a:hover {
    display: inline-block; /* Ist nötig, da der Hintergrund beim Logo sonst nicht richtig geändert wird */
    background-color: #2e1b3b;
}

main { grid-area: main; }

aside {
    grid-area: aside;
}

aside figure {
    margin: 10px;
    padding: 10px;
    border-radius: 15px;
    background-color: #b8e0b8;
}

aside figure h3 {
    margin-top: 0;
    margin-bottom: 8px;
    text-align: center;
}

aside figure figcaption {
    text-align: center;
}

aside figure img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
    border: 5px solid #45355b;
}

#ad img {
    display: block;
    border: 1px solid black;
    margin: 14px;
}

footer {
    grid-area: footer;
    background-color: seagreen;
    text-align: center;
    position: relative;
    bottom: 0;
    padding-top: 20px;
    padding-bottom: 20px;
}

footer a {
    color: mintcream;
}