main {
    margin-left: 20px;
    margin-right: 20px;
}

li {
    font-weight: bold;
}

ol {
    counter-reset: index;
    list-style-type: none;
}

li::before {
    counter-increment: index;
    content: counters(index, ".")". ";
}

table.documentation {
    border-collapse: collapse;
}

table.documentation td, table.documentation th {
    border: solid 1px;
}

table.documentation th {
    border-bottom: solid 2px;
}
