li {
    font-weight: bold;
}

body > ol {
    border: 1px solid black;
}

table.documentation {
    border-collapse: collapse;
}

table.documentation td, table.documentation th {
    border: solid 1px;
}

table.documentation th {
    border-bottom: solid 2px;
}