/*Bearbeitet von Alexander Gromov
Spezifisches Styling des Formulars zum Anlegen einer Eröffnung*/

section, form {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    text-align: center;
}

#submit {
    margin: 20px;
    font-size: x-large;
}
