main {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
}

#list {
    flex: 0 0 auto;
}

h2 {
    text-align: center;
}

/* Ab hier für die automatisierte Nummerierung der Eröffnungs-Liste */
ul {
    list-style-type: none;
}

.variant {
    list-style-type: disc;
}

ul > li, .firstUl {
    position: relative;
    left: -15px;
}

.c40 {
    counter-set: econumber 39;
    list-style-type: none;
}

.c40 > li::before {
    counter-increment: econumber;
    content: "C"counter(econumber)": ";
}
