main {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
}

#list {
    flex: 0 0 auto;
}

h2 {
    text-align: center;
}

section a {
    text-decoration: none;
    color: mediumblue;
    font-weight: bold;
}

/* Ab hier für die automatisierte Nummerierung der Eröffnungs-Liste */
li ol {
    list-style-type: none;
}

ul {
    list-style-type: disc;
}

ul > li > ul {
    list-style-type: circle;
}

li ol, section > ol > li > ol > li {
    position: relative;
    right: 15px;
}

#c40 {
    counter-set: econumber 39;
}

#c40 > li::before {
    counter-increment: econumber;
    content: "C"counter(econumber)": ";
}
