main {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
}

#leftside section {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

#intro {
    margin-bottom: 10vh;
}

#list {
    flex: 0 0 auto;
}

h2 {
    text-align: center;
}

section a {
    text-decoration: none;
    color: mediumblue;
    font-weight: bold;
}

section a:hover {
    text-decoration: underline;
}

#leftside ul {
    list-style-type: none;
    position: relative;
    right: 15px;
}

.variant {
    position: relative;
    list-style-type: disc;
    left: 20px;
}

/* Ab hier für die Nummerierung der Eröffnungs-Liste */
#list li ol {
    list-style-type: none;
}

#list ul {
    list-style-type: disc;
}

#list ul > li > ul {
    list-style-type: circle;
}

#list li ol, section > ol > li > ol > li {
    position: relative;
    right: 15px;
}

#c40 {
    counter-set: econumber 39;
}

#c40 > li::before {
    counter-increment: econumber;
    content: "C"counter(econumber)": ";
}

@media screen and (max-width: 990px) {
    main {
        flex-flow: column nowrap;
    }
    #intro {
        margin-bottom: 0;
    }
}