section {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

#positions {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    border-bottom: 10px solid #ff9100;
}

#positions a {
    text-decoration: none;
    color: inherit;
    margin-left: 20px;
    margin-right: 20px;
}

table#chessboard td {
    width: 21px;
    height: 21px;
}
