/* Ab hier für die automatisierte Nummerierung der Eröffnungs-Liste */
ul {
    list-style-type: none;
}

.variant {
    list-style-type: disc;
}

ul > li, .firstUl {
    position: relative;
    left: -15px;
}

.c40 {
    counter-set: econumber 39;
    list-style-type: none;
}

.c40 > li::before {
    counter-increment: econumber;
    content: "C"counter(econumber)": ";
}

@media screen and (max-width: 1308px) {
    nav a {
        font-size: x-large;
    }
}

@media screen and (max-width: 1045px) {
    nav a {
        font-size: large;
    }
}

@media screen and (max-width: 1045px), screen and (max-height: 700px) {
    header a img {
        display: none;
    }
    header a span {
        display: inline-block;
        text-align: center;
    }
}