section {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

table#chessboard td {
    width: 30px;
    height: 30px;
}

table#chessboard {
    margin-right: 30px;
    font-size: x-large;
}

p {
    margin:0.5%;
}