<% let countWhite = 0; %>
<% let countBlack = 0; %>
<% let actualString = position.positionString; %>
<% for (let i = 0; i < 71; i++) { %>
    <% let tmp = actualString.substr(0, 1); %>
    <% switch (tmp) {
        case "K": case "Q": case "R": case "B": case "N": case "P":
            countWhite++;
            break;
        case "k": case "q": case "r": case "b": case "n": case "p":
            countBlack++;
            break; %>
    <% } %>
    <% actualString = actualString.substring(1); %>
<% } %>
<section>
    In dieser Stellung hat Weiß <%= countWhite %> Figuren und Schwarz hat <%= countBlack %> Figuren<br>
    <% if(position.activeColor === "w") { %>
        Weiß
    <% } else { %>
        Schwarz
    <% } %>
    ist am Zug
</section>