<aside>
    <figure>
        <h3>Stellung des Tages</h3>
        <a href="/positions/position2">
            <%- include("chessboard.ejs", {position: positionOfTheDay}); %>
        </a>
        <figcaption>
            <%=positionOfTheDay.activeColor()%>
        </figcaption>
    </figure>
    <a href="/openings/schottische_partie" id="ad">
        <img alt="Werbung" height="420" width="210" src="/img/werbeanzeige.png">
    </a>
</aside>
