<aside>
    <figure>
        <h3>Stellung des Tages</h3>
        <a href=/positions/position2">

        </a>
        <figcaption>
            Weiß am Zug
        </figcaption>
    </figure>
    <a href="" id="ad">
        <img alt="Werbung" height="420" width="210" src="/img/werbeanzeige.png">
    </a>
</aside>
