<!--Bearbeitet von Alexander Gromov-->
<!-- Im Header ist das Schachlogo zu sehen -->

<header>
    <!--Ein Link zur Willkommensseite -->
    <a href="/">
        <img alt="ChessWikiLogo" height="200" width="200" src="/img/first_logo.png">
        <span>ChessWiki</span>
    </a>
</header>
