<nav>
    <!-- Muss in einer Reihe stehen, da sonst kleine Abstände zwischen den Inline-Blocks entstehen -->
    <a href="listpositions">Rätsel</a><a href="">Rätsel erstellen</a><a href="listofopenings">Eröffnungen</a><a href="">Eröffnung eintragen</a>
</nav>