<!--Die Navigationsleiste der Seiten, mit Verlinkung -->

<nav>
    <a href="/positions">Stellungen</a>
    <a href="/formposition">Stellung erstellen</a>
    <a href="/openings">Eröffnungen</a>
    <a href="">Eröffnung eintragen</a>
</nav>
