<nav>
    <!-- Muss in einer Reihe stehen, da sonst kleine Abstände zwischen den Inline-Blocks entstehen -->
    <a href="/positions">Stellungen</a><a href="/formposition">Stellung erstellen</a><a href="/openings">Eröffnungen</a><a href="">Eröffnung eintragen</a>
</nav>
