<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Error 404</title>
    <link href="/img/favicon.ico" rel="icon">
</head>
    <body>
        <h1>Error 404</h1>
        <h2>Page not found</h2>
        <p>Return to <a href="/">Homepage</a></p>
    </body>
</html>
