<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Stellung anlegen</title>
    <link href="css/design.css" rel="stylesheet" type="text/css">
    <link href="css/chessboard.css" rel="stylesheet" type="text/css">
    <link href="css/formposition.css" rel="stylesheet" type="text/css">
</head>
<body>
<%- include("includes/header.ejs") %>
<%- include("includes/nav.ejs") %>
<main>
    <section>
        <h1>Eigene Stellung anlegen</h1>
        <p>
            Hier können Sie eine eigene Stellung anlegen. Anschließend taucht die Stellung unter "Stellungen" auf.
    </section>
    <section>
        <form action="formposition" method="POST">
            <label>Hier müssen Sie die Figuren auf das Brett stellen. Dabei stehen die Buchstaben "k" für King, "q" für
                Queen, "b" für Bishop, "n" für Knight, "p" für Pawn, "e" für ein leeres Feld.
                Großer Buchstabe steht für eine weiße Figur, ein kleiner Buchstabe für eine schwarze Figur.
                Sie geben die Buchstaben in richtiger Reihenfolge in die Zeieln ein.
            </label>
            <table>
                <tr>
                    <td><label for="row8">8</label></td>
                    <td><input type="text" id="row8" name="row8" minlength="8" maxlength="8" size="10" value="rnbqkbnr"
                               pattern="[rnbqkeRNBQK]{8}"></td>
                </tr>
                <tr>
                    <td><label for="row7">7</label></td>
                    <td><input type="text" id="row7" name="row7" minlength="8" maxlength="8" size="10" value="pppppppp"
                               pattern="[rnbqkpePRNBQK]{8}"></td>
                </tr>
                <tr>
                    <td><label for="row6">6</label></td>
                    <td><input type="text" id="row6" name="row6" minlength="8" maxlength="8" size="10" value="eeeeeeee"
                               pattern="[rnbqkpePRNBQK]{8}"></td>
                </tr>
                <tr>
                    <td><label for="row5">5</label></td>
                    <td><input type="text" id="row5" name="row5" minlength="8" maxlength="8" size="10" value="eeeeeeee"
                               pattern="[rnbqkpePRNBQK]{8}"></td>
                </tr>
                <tr>
                    <td><label for="row4">4</label></td>
                    <td><input type="text" id="row4" name="row4" minlength="8" maxlength="8" size="10" value="eeeeeeee"
                               pattern="[rnbqkpePRNBQK]{8}"></td>
                </tr>
                <tr>
                    <td><label for="row3">3</label></td>
                    <td><input type="text" id="row3" name="row3" minlength="8" maxlength="8" size="10" value="eeeeeeee"
                               pattern="[rnbqkpePRNBQK]{8}"></td>
                </tr>
                <tr>
                    <td><label for="row2">2</label></td>
                    <td><input type="text" id="row2" name="row2" minlength="8" maxlength="8" size="10" value="PPPPPPPP"
                               pattern="[rnbqkpePRNBQK]{8}"></td>
                </tr>
                <tr>
                    <td><label for="row1">1</label></td>
                    <td><input type="text" id="row1" name="row1" minlength="8" maxlength="8" size="10" value="RNBQKBNR"
                               pattern="[rnbqkeRNBQK]{8}"></td>
                </tr>
            </table>

            <label>Wer ist am Zug?</label>
            <div><label for="black">Schwarz</label><input type="radio" value="black" id="black" name="activeColor">
            </div>
            <div><label for="white">Weiß</label><input type="radio" value="white" id="white" name="activeColor" checked>
            </div>

            <label for="castlingAvailability">Wer kann noch rochieren?<br>Hier geben Sie die möglichen Rochaden an. K
                steht für die weiße kurze Rochade, Q für die weiße lange Rochade, analog dazu für Schwarz die selben
                Buchstaben in klein.</label>
            <input type="text" id="castlingAvailability" name="castlingAvailability" maxlength="4" value="KQkq" pattern="[KQkq]{0,4}">
            <label for="numberOfMoves">Wie viele halbe Züge wurden gespielt?</label>
            <input type="text" id="numberOfMoves" name="numberOfMoves" value="0">
            <div><input type="submit" value="Stellung erstellen"><input type="reset" value="Eingaben zurücksetzen">
            </div>
        </form>
    </section>
</main>
<%- include("includes/aside.ejs") %>
<%- include("includes/footer.ejs") %>
</body>
</html>
