<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Eröffnung anlegen</title>
    <link href="/img/favicon.ico" rel="icon">
    <link href="/css/design.css" rel="stylesheet" type="text/css">
    <link href="/css/chessboard.css" rel="stylesheet" type="text/css">
    <link href="/css/formopening.css" rel="stylesheet" type="text/css">
</head>
    <body>
        <%- include("includes/header.ejs") %>
        <%- include("includes/nav.ejs") %>
        <main>
            <section>
                <h1>Neue Eröffnung anlegen</h1>
                <p>Hier können Sie eine neue Eröffnung anlegen. Anschließend taucht diese unter "Eröffnungen" auf.</p>
                <p><b>Benutzen Sie bitte folgendes Format:<br>Figur (kann bei Bauern ausgelassen werden, sonst K für König/King, Q für Dame/Queen, R für Turm/Rook, B für Läufer/Bishop, N für Springer/Knight), Ursprungsfeld, Bindestrich bei normalem Zug oder "x" bei Schlagen, Zielfeld. Für kurze Rochade 0-0, lange Rochade 0-0-0.<br>Beispiele: e2-e4, Ng1-f3, 0-0-0</b></p>
            </section>
            <section>
                <form action="formopening" method="POST">
                    <p>
                        <label for="name">Bezeichnung der Eröffnung&ensp;</label>
                        <input name="nameOpening" id="name" type="text" size="30" pattern="^.*[^)]$" required autofocus>
                    </p>
                    <p><label for="ecoCat">Kategorie des ECO-Schlüssels&ensp;</label>
                        <select name="ecoCat" id="ecoCat">
                            <option value="A">A - Unregelmäßige Eröffnungen, teilweise geschlossene Eröffnungen</option>
                            <option value="B">B - Halboffene Eröffnungen (außer Französisch)</option>
                            <option value="C">C - Offene Eröffnungen, Französisch</option>
                            <option value="D">D - Geschlossene Eröffnungen, die nicht unter A und E fallen</option>
                            <option value="E">E - Geschlossene Eröffnungen</option>
                        </select>
                    </p>
                    <p>
                        <label for="ecoSubcat">Unterkategorie des ECO-Schlüssels&ensp;</label>
                        <input name="ecoSubcat" id="ecoSubcat" type="number" min="0" max="99" value="0" required>
                    </p>
                    <p>
                        <label for="parent">Vorgänger-/Eltern-Eröffnung&ensp;</label>
                        <input name="parentOpening" id="parent" type="text" size="30" required>
                    </p>
                    <p>
                        <label for="desc">Beschreibung&ensp;</label>
                        <textarea name="desc" id="desc" cols="50" rows="5"></textarea>
                    </p>
                    <label>Zugabfolge</label>
                    <table>
                        <tr>
                            <td><label for="zug1">1.&ensp;</label></td>
                            <td><input name="moves" id="zug1" type="text" size="5" pattern="^([KQRBN]?[a-h][1-8][-x][a-h][1-8][\+#]?|[O0o]-[O0o](-[O0o])?)$" required></td>
                            <td><input name="moves" id="zug1" type="text" size="5" pattern="^([KQRBN]?[a-h][1-8][-x][a-h][1-8][\+#]?|[O0o]-[O0o](-[O0o])?)$"></td>
                        </tr>
                        <tr>
                            <td><label for="zug2">2.&ensp;</label></td>
                            <td><input name="moves" id="zug2" type="text" size="5" pattern="^([KQRBN]?[a-h][1-8][-x][a-h][1-8][\+#]?|[O0o]-[O0o](-[O0o])?)$"></td>
                            <td><input name="moves" id="zug2" type="text" size="5" pattern="^([KQRBN]?[a-h][1-8][-x][a-h][1-8][\+#]?|[O0o]-[O0o](-[O0o])?)$"></td>
                        </tr>
                        <tr>
                            <td><label for="zug3">3.&ensp;</label></td>
                            <td><input name="moves" id="zug3" type="text" size="5" pattern="^([KQRBN]?[a-h][1-8][-x][a-h][1-8][\+#]?|[O0o]-[O0o](-[O0o])?)$"></td>
                            <td><input name="moves" id="zug3" type="text" size="5" pattern="^([KQRBN]?[a-h][1-8][-x][a-h][1-8][\+#]?|[O0o]-[O0o](-[O0o])?)$"></td>
                        </tr>
                        <tr>
                            <td><label for="zug4">4.&ensp;</label></td>
                            <td><input name="moves" id="zug4" type="text" size="5" pattern="^([KQRBN]?[a-h][1-8][-x][a-h][1-8][\+#]?|[O0o]-[O0o](-[O0o])?)$"></td>
                            <td><input name="moves" id="zug4" type="text" size="5" pattern="^([KQRBN]?[a-h][1-8][-x][a-h][1-8][\+#]?|[O0o]-[O0o](-[O0o])?)$"></td>
                        </tr>
                        <tr>
                            <td><label for="zug5">5.&ensp;</label></td>
                            <td><input name="moves" id="zug5" type="text" size="5" pattern="^([KQRBN]?[a-h][1-8][-x][a-h][1-8][\+#]?|[O0o]-[O0o](-[O0o])?)$"></td>
                            <td><input name="moves" id="zug5" type="text" size="5" pattern="^([KQRBN]?[a-h][1-8][-x][a-h][1-8][\+#]?|[O0o]-[O0o](-[O0o])?)$"></td>
                        </tr>
                    </table>
                    <button type="button" onclick="createTable()">Neue Zeile</button>
                    <p>
                        <label for="variations">Fortsetzungen (bitte mit Kommata getrennt)&ensp;</label>
                        <input name="variations" id="variations" type="text" size="50" pattern="^.*[^,]$">
                    </p>
                    <input id="submit" type="submit" value="Neue Eröffnung anlegen">
                </form>
            </section>
        </main>
        <%- include("includes/aside.ejs") %>
        <%- include("includes/footer.ejs") %>
        <script src="/js/formopeningtable.js"></script>
    </body>
</html>
