<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ChessWiki Homepage</title>
    <link href="/img/favicon.ico" rel="icon">
</head>
<body>
    <a href="/openings">Openings</a><br>
    <a href="/positions">Positions</a>
</body>
</html>