<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>Liste der Eröffnungen</title>
    <link href="/img/favicon.ico" rel="icon">
    <link href="/css/design.css" rel="stylesheet" type="text/css">
    <link href="/css/chessboard.css" rel="stylesheet" type="text/css">
    <link href="/css/listopenings.css" rel="stylesheet" type="text/css">
</head>
<body>
    <%- include("includes/header.ejs")%>
    <%- include("includes/nav.ejs")%>
    <main>
        <section>
            <h2>Was ist eine Eröffnung im Schach?</h2>
            <p>
                Eine Eröffnung beschreibt die ersten 10 bis 15 Züge einer Partie.
                In dieser Phase konzentrieren sich beide Seiten einerseits auf eine schnelle Entwicklung ihrer Figuren, andererseits auf die Kontorlle des Zentrums.
                Es gibt viele bereites ausgearbeitete Eröffnungen, die vorgeben, welche Zugfolgen man spielen muss, um in den ersten Zügen der Partei im Vorteil zu sein.
            </p>
        </section>
        <section id="list">
            <h2>Liste von Eröffnungen</h2>
            <ol type="A">
                <li>Unregelmäßige Eröffnungen, teilweise geschlossene Eröffnungen</li>
                <li>Halboffene Eröffnungen (außer Französisch)</li>
                <li>Offene Eröffnungen, Französisch
                    <ol>
                        <li>C00 - C19: Französische Verteidigung</li>
                        <li>C20 - C99: Offene Spiele
                            <ol>
                                <li>C30 - C39: Königsgambit</li>
                                <li>C40 - C99: Königsspringerspiel
                                    <ol id="c40">
                                        <li>Königsspringerspiel
                                            <ul class="variant">
                                                <li>Lettisches Gambit</li>
                                                <li>Mittelgambit im Nachzug</li>
                                                <li>Damianos Verteidigung</li>
                                                <li>Gunderam-Verteidigung</li>
                                                <li>Greco-Verteidigung</li>
                                            </ul>
                                        </li>
                                        <li>Philidor-Verteidigung</li>
                                        <li>Russische Verteidigung</li>
                                        <li>Steinitz-System</li>
                                        <li>Ponziani-Eröffnung</li>
                                        <li><a href="/openings/schottische_partie">Schottische Partie</a></li>
                                        <li>Dreispringerspiel</li>
                                        <li>Vierspringerspiel</li>
                                        <li>Spanisches Vierspringerspiel: Rubinstein-Variante</li>
                                        <li>Spanisches Vierspringerspiel: Symmetrie-Variante</li>
                                    </ol>
                                    <ol>
                                        <li>C50 - C59: Italienisches Spiel</li>
                                        <li>C60 - C99: Spanische Partie</li>
                                    </ol>
                                </li>
                            </ol>
                        </li>
                    </ol>
                </li>
                <li>Geschlossene Eröffnungen, die nicht unter A und E fallen</li>
                <li>Geschlossene Eröffnungen</li>
            </ol>
        </section>
    </main>
    <%- include("includes/aside.ejs")%>
    <%- include("includes/footer.ejs")%>
</body>
</html>
