<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Liste der Stellungen</title>
    <link href="css/listpositions.css" rel="stylesheet" type="text/css">
</head>
<body>
<main>
    <h1>Was ist eine Stellung im Schach?</h1>
    <section>
        <p>
            Eine Stellung im Schach beschreibt eine legale Positions einer Schachpartie.
            Legal bedeutet, dass folgende Regeln eingehalten werden müssen:
        <ul>
            <li>Beider Farben haben genau einen König, die Könige haben mindestens ein Feld zwischen ihnen</li>
            <li>Beide Farben haben höchstens 8 Bauern, es stehen keine Bauern auf der ersten und achten Reihe</li>
            <li>Beide Farben haben höchstens 10 Springer, Läufer oder Türme</li>
            <li>Beide Farben haben höchstens 9 Damen</li>
            <li>Insgesamt darf es nicht mehr als 16 Figuren pro Farbe geben</li>
            <li>Beide Könige können nicht gleichzeitig im Schach stehen</li>
            <li>In einer Stellung ist immer eine Farbe am Zug</li>
        </ul>
        <p>
            Jede Stellung hat immer eine Wertung, diese besagt, wie gut man in einer Stellung steht.
    </section>
    <h2>Beispielhafte Stellungen</h2>
    <div id="positions">
        <% for(position of positions) { %>
        <table>
            <% for(let i = 8; i >= 1;i--) { %>
            <tr>
                <td><%=i%></td>
                <% for(let j = 0;j < 8;j++) { %>
                    <% let tmp = position.positionString.substr(0, 1); %>
                    <% if(tmp==="e") { %>
                        <td></td>
                    <% } else { %>
                    <td><%=tmp%></td>
                    <%}%>
                    <% position.positionString = position.positionString.substring(1) %>
                <% } %>
                <% position.positionString = position.positionString.substring(1) %>
            </tr>
            <% } %>
            <tr id="letters">
                <td></td>
                <% let tmp = "abcdefgh" %>
                <% for(let i = 0; i < 8;i++) { %>
                <td><%= tmp.substr(0, 1) %></td>
                <% tmp = tmp.substring(1) %>
                <% } %>
            </tr>
        </table>
        <% } %>
    </div>
    <h2>Eigene Stellung</h2>
    <b>Hier können Sie Ihre eigenen Stellungen hinzufügen und analysieren</b>

    <button>Neue Stellung aufbauen</button>
</main>
</body>
</html>