<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Playground</title>
    <style>
        table {
            border-collapse: collapse;
        }

        td {
            height: 20px;
            width: 40px;
            border: 2px black solid;
        }
    </style>
</head>
<body>
<table>
    <tr>
        <td>ABC</td>
        <td>DEF</td>
        <td>GHI</td>
    </tr>
</table>
<button onclick="createTable()">Klick</button>
<script src="/js/formopeningtable.js"></script>
</body>
</html>
