<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>Dokumentation</title>
    <link rel="icon" href="../ChessWiki/public/img/favicon.ico">
    <link href="/css/design.css" type="text/css" rel="stylesheet">
    <link href="/css/chessboard.css" type="text/css" rel="stylesheet">
    <link href="/css/documentation.css" type="text/css" rel="stylesheet">
</head>
<body>
<%- include("../ChessWiki/views/includes/header.ejs") %>
<%- include("../ChessWiki/views/includes/nav.ejs") %>
<main>
    <ol>
        <li>Beschreibung des Anwendungsszenarios</li>
        <li>Fachobjekte der Anwendung</li>
        <li>Beschreibung und Begründung der Implementierungsentscheidungen</li>
    </ol>
    <h2><i>Welche HTML-Seiten sind in der Anwendung enthalten?</i></h2>
    <p>Das Chesswiki ist unterteilt in HTML-Seiten, die einmalig vorkommen, und HTML-Seiten, die auf mehreren Seiten
        angezeigt werden.
        Alle HTML-Seiten wurde als Templates umgesetzt.
        Die einmaligen Seiten sind jeweils drei Seiten für jedes Fachobjekt, eine 404-Fehlerseite und eine
        Willkommensseite.
        Zum Fachobjekt Stellung gehören die Seiten <a href="/positions">"listpositions"</a>, "position" und <a
                href="formposition">"formposition</a>.
        Zum Fachobjekt Eröffnung gehören die Seiten <a href="/openings">"listopenings"</a>, "opening" und <a
                href="formopening">"formopening"</a>.
        Die wiederverwendbaren Seiten sind "aside","chessboard","footer","header" und "nav". Diese Seiten sind auf fast
        jeder Seite Bestandteile.
    </p>
    <h2><i>Wie kann zwischen den einzelnen HTML-Seiten navigiert werden?</i></h2>
    <p>Zur Navigation kann die Navigationsleiste verwendet werden.
        In "listpositions" sind alle Schachbretter ein Link zur jeweiligen Detailseite. Der Button unten führt zum
        Formular.
    </p>
    <h2><i>Falls semantiklose Elemnte eingesetzt wurden: Warum wurden diese eingesetzt?</i></h2>
    <p>In formposition wurde semantiklose divs verwendet, um zwei HTML-Tags zu einem Kind zu machen, damit sie in der
        flexbox nebeneinander auftauchen, statt untereinander.</p>

    <h2><i>Wie ist das einheitlichen Layout der Web-Anwendung aufgebaut?</i></h2>
    <p>Grundsätzlich unterliegt jede Seite der selben Struktur.<br>
        <img alt="gridlayout" src="img/gridlayout.jpg">
        Alles in main wird in sinnvolle sections unterteilt.
    </p>
    <h2><i>Welche CSS-Layout-Mechanismen wurden eingesetzt und warum?</i></h2>
    <p>Die Nav ist eine flexbox, damit alles in einer Reihe anzeigt wird.
        Alles weitere wird dann Seitenspezifisch im main gelayoutet.
        Im allgemeinen wird main mit flexboxen gelayoutet.
    </p>
    <h2><i>Welche Breakpoints wurden definiert und welche Auswirkungen haben sie auf das Layout?</i></h2>
    <p>

    </p>
    <h2><i>Welchem Zweck dienen die diefinierten Breakpoints im konkreten Anwendungsszenario (z.B Zielendgeräte)?</i>
    </h2>
    <p>

    </p>
    <h2><i>Wie und nach welchen Prinzipien wurden die Module der Server-Implementierung strukturiert?</i></h2>
    <p>
        Die Serverimplementierung basiert auf dem Web-Framework Express.
        Die Konfiguration findet in der app.js statt, das Routing in der router.js.
        Die Datenhaltung findet in dem Ordner modules statt.
        In der app.js finden folgende Konfigurationen statt:
        Express wird eingebunden.
        Das Verzeichnis für die statischen Dateien wird konfiguriert.
        EJS wird als Template-Engine konfiguriert, danach wird das Verzeichnis festgelegt, in dem EJS die Templates
        suchen soll.
        Der Router wird auf der App registriert.
        Die app soll auf dem Port 8020 lauschen, also ist er unter dieser IP für Clients erreichbar.
        Im router selber wird noch der body-parser verwendet.
    </p>
    <h2><i>Welche HTTp-Anfragen werden durch das Routing des Servers unterstützt?</i></h2>
    <table class="documentation">
        <tr>
            <th>URL</th>
            <th>HTTP-Methode</th>
            <th>Aktion</th>
        </tr>
        <tr>
            <td>/</td>
            <td>GET</td>
            <td>Anzeige der Willkommensseite</td>
        </tr>
        <tr>
            <td>/positions</td>
            <td>GET</td>
            <td>Anzeige der Liste der Stellungen</td>
        </tr>
        <tr>
            <td>/positions/analyse/positions:id</td>
            <td>GET</td>
            <td>Anzeige der Detailsseite zu der jeweiligen Stellung</td>
        </tr>
        <tr>
            <td>/formposition</td>
            <td>GET</td>
            <td>Anzeige des Formulars zum Anlegen einer neuen Stellung</td>
        </tr>
        <tr>
            <td>/openings</td>
            <td>GET</td>
            <td>Anzeige der Liste der Eröffnungen</td>
        </tr>
        <tr>
            <td>/openings/schottische_partie</td>
            <td>GET</td>
            <td>Anzeige der persistenten "Schottische Partie" Eröffnung</td>
        </tr>
        <tr>
            <td>/openings/schottische_partie/:name</td>
            <td>GET</td>
            <td>Anzeige einer Detailseite zu einer Variante der "Schottischen Partie"</td>
        </tr>
        <tr>
            <td>/openings/analyse/:id</td>
            <td>GET</td>
            <td>Anzeige der Detailseite zu einer Stellung der Eröffnung</td>
        </tr>
        <tr>
            <td>/formopening</td>
            <td>GET</td>
            <td>Anzeige des Formulars zum Anlegen einer neuen Eröffnung</td>
        </tr>
        <tr>
            <td>/formposition</td>
            <td>POST</td>
            <td>Neuanlage einer Stellung</td>
        </tr>
        <tr>
            <td>/formopening</td>
            <td>POST</td>
            <td>Neuanlage einer Eröffnung</td>
        </tr>
    </table>
    <h2><i>Welche Schritte sind zum Start der Anwendung notwendig und unter welcher URL ist die Anwendung
            erreichbar?</i></h2>
    <p>Zum Starten der Anwendung muss die app.js ausgeführt werden. Die Anwendung ist dann unter localhost:8020
        erreichbar.</p>
    <h2><i>Welches Gruppenmitglied ist für welche Quellcode-Dateien verantwortlich?</i></h2>
    <table class="documentation">
        <tr>
            <th>Autor(Name, Vorname (Matrikelnr.))</th>
            <th>Dateien</th>
        </tr>
        <tr>
            <td>Ackermann, Daniel (7105863)</td>
            <td>
                <ul>
                    <li>models/positions.js</li>
                    <li>public/css/design.css</li>
                    <li>public/css/documentation.ejs</li>
                    <li>public/css/formposition.css</li>
                    <li>public/css/listpositions.css</li>
                    <li>public/css/position.css</li>
                    <li>public/css/chessboard.css</li>
                    <li>views/includes/chessboard.ejs</li>
                    <li>views/formposition.ejs</li>
                    <li>views/listpositions.ejs</li>
                    <li>views/position.ejs</li>
                    <li>../doc/documentation.ejs</li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>Gromov, Alexander (7201134)</td>
            <td>
                <ul>
                    <li>models/openings.js</li>
                    <li>public/css/design.css</li>
                    <li>public/css/listopenings.css</li>
                    <li>public/css/opening.css</li>
                    <li>public/js/formopeningtable.js</li>
                    <li>views/includes/aside.ejs</li>
                    <li>views/includes/footer.ejs</li>
                    <li>views/includes/header.ejs</li>
                    <li>views/includes/nav.ejs</li>
                    <li>views/404.ejs</li>
                    <li>views/homepage.ejs</li>
                    <li>views/listopenings.ejs</li>
                    <li>views/opening.ejs</li>
                    <li>views/formposition.ejs</li>
                </ul>
            </td>
        </tr>
    </table>
</main>
<%- include("../ChessWiki/views/includes/aside.ejs") %>
<%- include("../ChessWiki/views/includes/footer.ejs") %>
</body>
</html>